.play {
    width: 30px;
    height: 30px;
}

.pause {
    width: 30px;
    height: 30px;
}

.back {
    width: 30px;
    height: 30px;
}

.forward {
    width: 30px;
    height: 30px;
}

.caja-reproductor {
    width: 100%;
    height: 30px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    color: #ffffffd6;
}